<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content class="ion-padding" [scrollEvents]="true">
  <div *ngFor="let msg of messages" 
       [class.my-message]="msg.email === email"
       [class.other-message]="msg.email !== email">
    <div class="message-bubble">
      <h3>{{ msg.email }}</h3>
      <p>{{ msg.content }}</p>
    </div>
  </div>
</ion-content>


<ion-footer class="message-footer">
  <ion-toolbar>
    <div class="message-input-container">
      <ion-input [(ngModel)]="newMessage" placeholder="Escribe un mensaje..." class="message-input"></ion-input>
      <ion-button (click)="sendMessage()" class="send-button">Enviar</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
